  <% if flash[:notice] %>
		<div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <%= flash[:notice] %>
		</div>
  <% end %>

<div class="col-md-12">
	<h2>Ultimas cesiones de factura</h2>
</div>

<div class="col-md-12" style="padding-bottom: 2%; padding-top: 2%" align="center">
	<%= bootstrap_form_for(buscador_path,method: :post, layout: :inline) do |f| %>
	  <%= f.date_field :desde %>
	  <%= f.date_field :hasta %>
	  <%= f.select :estado, [["Todos", "Todos"], ["Cedida", "Cedida"], ["No Cedida", "No Cedida"]], { label: "Estado" }, { class: "selectpicker" } %>
	  <%= f.submit "Buscar" %>
	<% end %>
</div>

<div class="col-md-12" align="right" style="padding-bottom: 1%">
<%== button_to "Guardar Cedidas", new_dashboard_path(), {:class => "btn btn-info btn-xs" } %>
</div>

<div class="col-md-12">

<%if @resultado_json[:error].present?%>		
<div> <%= @resultado_json[:error] %> </div>
<% else %>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<td style="width: 5%"><b>ID</b></td>
			<td style="width: 7%"><b>Folio</b></td>
			<td style="width: 5%"><b>Monto</b></td>
			<td><b>Rut Pagador</b></td>
			<td><b>Rut Cedido</b></td>
			<td><b>Fecha Ingreso</b></td>
			<td><b>Fecha Actualización</b></td>
			<td><b>Estado</b></td>
		</tr>
	</thead>

	<tbody>
		@resultado_json.each do |data| %>
		<tr>
			<td><%= data['id']%></td>
			<td><%= data['folio']%></td>
			<td>$<%= data['monto']%></td>
			<td><%= data['rut_pagador']%></td>
			<td><%= data['rut_cedido']%></td>
			<td><%= data['created_at'].gsub("Z","")%></td>
			<td><%= data['updated_at'].gsub("Z","")%></td>
			<td><%= data['estado']%></td>
		</tr>
		<% 
			end
		end %>
	</tbody>
</table>
</div>